<section class="fleet-slider">
      <button id="prev" class="btn-control">
        <img class="icon-arrow icon-prev" src="../../assets/images/icons/bttn-next.svg" >
      </button>
  <ul id="fleet-slider-list" class="slider-list">
    <li class="slider-item">
      <img class="slider-image" src="../../assets/images/slider/1.jpg">
       
      </li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/2.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/3.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/4.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/5.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/6.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/7.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/8.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/9.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/10.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/11.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/12.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/13.jpg" ></li>
    <li class="hidden slider-item">
      <img class="slider-image" src="../../assets/images/slider/14.jpg" ></li>

  </ul>
   <button id="next" class="btn-control">
        <img class="icon-arrow icon-next" src="../../assets/images/icons/bttn-next.svg" >
      </button>
</section>

