$font-size: 18px;
$font-family: "Work Sans", sans-serif;
$color: #ffffff;
$border: 2px solid hsla(0, 0%, 100%, 0.4);
$padding: 0 80px;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap");

// общие стили и контейнер
* {
  box-sizing: border-box;
}

.body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../images/main-slider/01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: $font-family;
  font-size: $font-size;
  color: $color;

  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    border-left: $border;
    border-right: $border;
  }
}

// Стили для хедера
.main-header {
  padding: $padding;
  border-bottom: $border;
}

.main-menu {
  .menu-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    .menu-item:first-of-type {
      margin-right: 48px;
    }
    .menu-item:last-of-type {
      margin-left: 96px;
    }

    .menu-link {
      color: $color;
      text-decoration: none;
    }

    .menu-item-logo {
      margin: 0 100px;
    }
  }
}

.main-content {
  padding: $padding;
  padding-top: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-title {
    margin: 0 auto;
    padding: 0;
    font-family: "Sorts Mill Goudy", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.02em;
  }

  .promo-text {
    margin-top: 9px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
}

.shedule-block-link {
  display: block;
  width: 348px;
  height: 106px;
  margin-top: 17px;
  background: url(../images/icons/epicButton.svg) no-repeat center;

  .shedule-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-right: 60px;
    color: $color;
    text-decoration: none;
    font-weight: 700;
    font-size: $font-size;

    &::after {
      content: "";
      right: 30px;
      width: 60px;
      height: 5px;
      position: absolute;
      background: url(../images/icons/arrow.svg) no-repeat center;
    }
  }
}

.ports-block {
  padding: $padding;
  margin-top: 89px;

  .ports-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .port-item {
      width: 300px;
      height: 138px;
      background: linear-gradient(
        77deg,
        rgba(255, 255, 255, 0.3) -8%,
        rgba(255, 255, 255, 0) 110%,
        rgba(255, 255, 255, 0.26) 110%
      );
      backdrop-filter: blur(12px);
      /* Note: backdrop-filter has minimal browser support */

      border: 1px solid hsla(0, 0%, 100%, 0.4);

      border-radius: 9px;
    }
  }
}
