.table-schedule {
  border-collapse: collapse;
  background: linear-gradient(
    77deg,
    rgba(255, 255, 255, 0.3) -8%,
    rgba(255, 255, 255, 0) 110%,
    rgba(255, 255, 255, 0.26) 110%
  );
  backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border: 1px solid hsla(0, 0%, 100%, 0.35);
}
