// ========= Стили для главного контента страницы Флот

.content-fleet {
  padding-top: 40px;

  .subpage-title {
    margin: 0;
    font-family: $font-family2;
    font-size: 40px;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: -0.02em;

    @media screen and (max-width: 850px) {
      font-size: 30px;
    }
  }

  .fleet-description {
    margin-bottom: 40px;
    padding: 20px 35px 18px 18px;
    background: linear-gradient(
      77deg,
      rgba(255, 255, 255, 0.3) -8%,
      rgba(255, 255, 255, 0) 110%,
      rgba(255, 255, 255, 0.26) 110%
    );
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    border: 1px solid hsla(0, 0%, 100%, 0.25);
    border-radius: 9px;

    .fleet-text {
      font-family: $font-family;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.02em;

      @media screen and (max-width: 850px) {
        font-size: 16px;
      }
    }
  }
}

.technical-data {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .technical-title {
    margin: 0;
    font-family: $font-family2;
    font-size: 32px;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-align: center;

    @media screen and (max-width: 850px) {
      font-size: 28px;
    }
  }

  .technical-text {
    width: 100%;
    margin: 10px 0;
    text-align: left;

    @media screen and (max-width: 850px) {
      font-size: 16px;
    }
  }

  .technical-table {
    width: 85%;
    margin-top: 20px;
    padding: 20px 35px 18px 18px;
    background: linear-gradient(
      77deg,
      rgba(255, 255, 255, 0.3) -8%,
      rgba(255, 255, 255, 0) 110%,
      rgba(255, 255, 255, 0.26) 110%
    );
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    border: 1px solid hsla(0, 0%, 100%, 0.35);
    border-collapse: collapse;

    @media screen and (max-width: 850px) {
      width: 100%;
    }

    tr {
      border: 1px solid hsla(0, 0%, 100%, 0.25);
      @media screen and (max-width: 460px) {
        display: grid;
        grid-template-columns: 50% 1fr 1fr;
      }

      td {
        padding: 10px 15px;
        word-wrap: break-word;

        .feature-name {
          width: 70%;
        }

        .feature-data {
          width: 15%;
        }

        @media screen and (min-width: 461px) and (max-width: 850px) {
          font-size: 16px;
        }

        @media screen and (max-width: 460px) {
          font-size: 14px;
          padding: 5px 10px;
        }
      }
    }
  }
}
