{% include "header.njk" %}
      <!-- Основной контент страницы -->
<main class="main-content content-fleet">
  <h2 class="subpage-title">{{ mainTitle }}</h2>

  <section class="fleet-description">
    {{ content | safe }}
  </section>

  {% include "slider.njk" %}

<section class="technical-data">
  <h3 class="technical-title">{{ subTitle }}</h3>
  {% for text in technicalText %}
    
  <p class="technical-text"><b>{{ text.techName }}</b> {{text.descr }}</p>
  {% endfor %}

  <table class="technical-table">
    <tbody>
     {% for feature in tableData %}
      <tr>
        <td class="feature-name">{{ feature.featureName }}</td>
        <td class="feature-data">{{ feature.featureData }}</td>
        <td class="feature-data">{{ feature.units }}</td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>
<section>

</main>


{% include "sidebar.njk" %}