.main-content {
  padding: $padding;
  padding-top: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 850px) {
    padding: 40px 10px;
  }

  .main-title {
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    font-family: $font-family2;
    font-size: 72px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.02em;
    text-align: center;

    @media screen and (min-width: 501px) and (max-width: 850px) {
      margin-top: 0;
      font-size: 64px;
    }

    @media screen and (max-width: 500px) {
      margin-top: 0;
      font-size: 58px;
    }
  }

  .promo-text {
    margin-top: 26px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;

    @media screen and (max-width: 850px) {
      margin-top: 16px;
    }
  }
}

// .shedule-block-link {
//   display: block;
//   width: 348px;
//   height: 106px;
//   margin-top: 17px;
//   background: url(../images/icons/epicButton.svg) no-repeat center;

//   @media screen and (min-width: 501px) and (max-width: 850px) {
//     width: 400px;
//     height: 120px;
//   }

//   @media screen and (max-width: 500px) {
//     width: 350px;
//     height: 100px;
//   }

//   .shedule-link {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 100%;
//     padding-right: 60px;
//     color: $colorWhite;
//     text-decoration: none;
//     font-weight: 700;
//     font-size: $font-size;

//     @media screen and (min-width: 501px) and (max-width: 850px) {
//       font-size: 20px;
//     }

//     @media screen and (max-width: 500px) {
//       font-size: 16px;
//     }

//     &::after {
//       content: "";
//       right: 30px;
//       width: 60px;
//       height: 5px;
//       position: absolute;
//       background: url(../images/icons/arrow.svg) no-repeat center;

//       @media screen and (max-width: 850px) {
//         right: 40px;
//       }
//     }
//   }
// }

.ports-block {
  width: 100%;
  margin-top: 89px;

  @media screen and (min-width: 501px) and (max-width: 850px) {
    margin-top: 70px;
  }

  @media screen and (max-width: 500px) {
    margin-top: 40px;
  }

  .link-shedule {
    width: 100%;
    height: 100%;
    color: $colorWhite;
    text-decoration: none;
  }

  .ports-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width: 850px) {
      flex-direction: column;
    }

    .port-item {
      position: relative;
      // width: 220px;
      flex-basis: 22%;
      height: 160px;
      padding: 16px;
      background: linear-gradient(
        77deg,
        rgba(0, 0, 0, 0.2) -8%,
        rgba(0, 0, 0, 0.2) 110%,
        rgba(255, 255, 255, 0.26) 110%
      );
      backdrop-filter: blur(12px);
      /* Note: backdrop-filter has minimal browser support */
      border: 1px solid hsla(0, 0%, 100%, 0.25);
      border-radius: 9px;

      @media screen and (max-width: 850px) {
        margin-bottom: 24px;
        width: 80%;
        height: 165px;
        flex-basis: auto;
      }

      .name-country {
        display: block;
        font-size: 14px;
        line-height: 132%;
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 0.6;

        @media screen and (max-width: 850px) {
          font-size: 20px;
        }
      }

      .name-port {
        display: block;
        font-size: 28px;
        font-weight: 300;
        line-height: 140%;

        @media screen and (min-width: 501px) and (max-width: 850px) {
          font-size: 40px;
        }

        @media screen and (max-width: 500px) {
          font-size: 34px;
        }
      }
    }

    .port-item::after {
      content: "";
      position: absolute;
      width: 160px;
      height: 1px;
      bottom: 16px;
      background-color: $colorWhite;
      opacity: 0.6;
    }
  }
}

@import "page-fleet";
@import "page-contacts";
@import "page-schedule";
