@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

.body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.body .overlay {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -150px;
  background-color: #050554;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.6))), url("../images/main-slider/05.jpg");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../images/main-slider/05.jpg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover, cover;
}

@media screen and (min-width: 851px) and (max-width: 1025px) {
  .body .overlay {
    margin-left: 0;
  }
}

@media screen and (max-width: 850px) {
  .body .overlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.body .overlay .container {
  width: 1140px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0;
  padding-bottom: 140px;
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}

@media screen and (min-width: 851px) and (max-width: 1025px) {
  .body .overlay .container {
    width: 98%;
    border-left: none;
    border-right: none;
  }
}

@media screen and (max-width: 850px) {
  .body .overlay .container {
    width: 99%;
    padding-bottom: 40px;
    border-left: none;
    border-right: none;
  }
}

.main-header {
  padding: 0 80px;
  padding-top: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

@media screen and (min-width: 851px) and (max-width: 1025px) {
  .main-header {
    padding: 20px 40px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  .main-header {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 500px) {
  .main-header {
    padding: 20px;
  }
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 850px) {
  .main-menu {
    position: relative;
  }
}

.main-menu .menu-list {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 850px) {
  .main-menu .menu-list {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (min-width: 851px) and (max-width: 1025px) {
  .main-menu .menu-list .menu-item {
    max-width: 170px;
  }
}

@media screen and (max-width: 850px) {
  .main-menu .menu-list .menu-item {
    display: none;
  }
}

.main-menu .menu-list .menu-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
}

.main-menu .menu-list .menu-link:hover {
  text-decoration: underline;
}

.main-menu .block-logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  .main-menu .block-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 500px) {
  .main-menu .block-logo {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    width: 125px;
  }
}

.main-menu .burger-menu {
  width: 40px;
  height: 30px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  background-color: transparent;
  background-image: url(../images/icons/menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

@media screen and (max-width: 850px) {
  .main-menu .burger-menu {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .main-menu .burger-menu {
    margin-right: 15px;
  }
}

.main-content {
  padding: 0 80px;
  padding-top: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 850px) {
  .main-content {
    padding: 40px 10px;
  }
}

.main-content .main-title {
  margin: 0 auto;
  padding: 0;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.02em;
  text-align: center;
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  .main-content .main-title {
    font-size: 64px;
  }
}

@media screen and (max-width: 500px) {
  .main-content .main-title {
    font-size: 58px;
  }
}

.main-content .promo-text {
  margin-top: 9px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .main-content .promo-text {
    margin-top: 16px;
  }
}

.shedule-block-link {
  display: block;
  width: 348px;
  height: 106px;
  margin-top: 17px;
  background: url(../images/icons/epicButton.svg) no-repeat center;
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  .shedule-block-link {
    width: 400px;
    height: 120px;
  }
}

@media screen and (max-width: 500px) {
  .shedule-block-link {
    width: 350px;
    height: 100px;
  }
}

.shedule-block-link .shedule-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding-right: 60px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  .shedule-block-link .shedule-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .shedule-block-link .shedule-link {
    font-size: 16px;
  }
}

.shedule-block-link .shedule-link::after {
  content: "";
  right: 30px;
  width: 60px;
  height: 5px;
  position: absolute;
  background: url(../images/icons/arrow.svg) no-repeat center;
}

@media screen and (max-width: 850px) {
  .shedule-block-link .shedule-link::after {
    right: 40px;
  }
}

.ports-block {
  width: 100%;
  margin-top: 89px;
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  .ports-block {
    margin-top: 70px;
  }
}

@media screen and (max-width: 500px) {
  .ports-block {
    margin-top: 40px;
  }
}

.ports-block .ports-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 850px) {
  .ports-block .ports-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ports-block .ports-list .port-item {
  position: relative;
  width: 300px;
  height: 138px;
  padding: 16px;
  background: linear-gradient(77deg, rgba(255, 255, 255, 0.3) -8%, rgba(255, 255, 255, 0) 110%, rgba(255, 255, 255, 0.26) 110%);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
}

@media screen and (max-width: 850px) {
  .ports-block .ports-list .port-item {
    margin-bottom: 24px;
    width: 80%;
    height: 165px;
  }
}

.ports-block .ports-list .port-item .name-country {
  display: block;
  font-size: 14px;
  line-height: 132%;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.6;
}

@media screen and (max-width: 850px) {
  .ports-block .ports-list .port-item .name-country {
    font-size: 20px;
  }
}

.ports-block .ports-list .port-item .name-port {
  display: block;
  font-size: 36px;
  font-weight: 300;
  line-height: 140%;
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  .ports-block .ports-list .port-item .name-port {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .ports-block .ports-list .port-item .name-port {
    font-size: 34px;
  }
}

.ports-block .ports-list .port-item::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  bottom: 16px;
  background-color: #ffffff;
  opacity: 0.6;
}

.content-fleet {
  padding-top: 40px;
}

.content-fleet .subpage-title {
  margin: 0;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 850px) {
  .content-fleet .subpage-title {
    font-size: 30px;
  }
}

.content-fleet .fleet-description {
  margin-bottom: 40px;
  padding: 20px 35px 18px 18px;
  background: linear-gradient(77deg, rgba(255, 255, 255, 0.3) -8%, rgba(255, 255, 255, 0) 110%, rgba(255, 255, 255, 0.26) 110%);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
}

.content-fleet .fleet-description .fleet-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 850px) {
  .content-fleet .fleet-description .fleet-text {
    font-size: 16px;
  }
}

.technical-data {
  width: 100%;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technical-data .technical-title {
  margin: 0;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .technical-data .technical-title {
    font-size: 28px;
  }
}

.technical-data .technical-text {
  width: 100%;
  margin: 10px 0;
  text-align: left;
}

@media screen and (max-width: 850px) {
  .technical-data .technical-text {
    font-size: 16px;
  }
}

.technical-data .technical-table {
  width: 85%;
  margin-top: 20px;
  padding: 20px 35px 18px 18px;
  background: linear-gradient(77deg, rgba(255, 255, 255, 0.3) -8%, rgba(255, 255, 255, 0) 110%, rgba(255, 255, 255, 0.26) 110%);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-collapse: collapse;
}

@media screen and (max-width: 850px) {
  .technical-data .technical-table {
    width: 100%;
  }
}

.technical-data .technical-table tr {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 460px) {
  .technical-data .technical-table tr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 1fr 1fr;
        grid-template-columns: 50% 1fr 1fr;
  }
}

.technical-data .technical-table tr td {
  padding: 10px 15px;
  word-wrap: break-word;
}

.technical-data .technical-table tr td .feature-name {
  width: 70%;
}

.technical-data .technical-table tr td .feature-data {
  width: 15%;
}

@media screen and (min-width: 461px) and (max-width: 850px) {
  .technical-data .technical-table tr td {
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  .technical-data .technical-table tr td {
    font-size: 14px;
    padding: 5px 10px;
  }
}

.content-contact {
  padding-top: 40px;
}

.subpage-title {
  margin: 0;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 850px) {
  .subpage-title {
    font-size: 32px;
  }
}

.section-contacts {
  width: 100%;
  padding: 20px 40px;
  background: linear-gradient(77deg, rgba(255, 255, 255, 0.3) -8%, rgba(255, 255, 255, 0) 110%, rgba(255, 255, 255, 0.26) 110%);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
}

.section-contacts h2 {
  font-size: 36px;
}

@media screen and (max-width: 500px) {
  .section-contacts h2 {
    font-size: 24px;
  }
}

.section-contacts h3 {
  margin-top: 30px;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .section-contacts h3 {
    font-size: 18px;
  }
}

.section-contacts a {
  color: #beefff;
  text-decoration: none;
}

.content-schedule {
  padding-top: 40px;
}

@media screen and (min-width: 471px) and (max-width: 665px) {
  .content-schedule {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 470px) {
  .content-schedule {
    padding: 40px 10px;
  }
}

.section-chedule {
  width: 95%;
}

.section-chedule .table-container {
  width: 100%;
  margin: 30px 0;
  padding: 10px 20px;
  background: linear-gradient(77deg, rgba(255, 255, 255, 0.3) -8%, rgba(255, 255, 255, 0) 110%, rgba(255, 255, 255, 0.26) 110%);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 9px;
}

@media screen and (min-width: 471px) and (max-width: 545px) {
  .section-chedule .table-container {
    padding: 10px;
  }
}

@media screen and (max-width: 470px) {
  .section-chedule .table-container {
    padding: 5px;
  }
}

.section-chedule .table-container .table-schedule {
  width: 100%;
  border-collapse: collapse;
}

@media screen and (max-width: 930px) {
  .section-chedule .table-container .table-schedule thead {
    font-size: 16px;
  }
}

@media screen and (max-width: 605px) {
  .section-chedule .table-container .table-schedule thead {
    font-size: 14px;
  }
}

@media screen and (max-width: 545px) {
  .section-chedule .table-container .table-schedule thead {
    padding: 3px;
    font-size: 12px;
  }
}

@media screen and (max-width: 470px) {
  .section-chedule .table-container .table-schedule thead {
    font-size: 10px;
  }
}

.section-chedule .table-container .table-schedule th {
  text-align: left;
  padding-bottom: 10px;
}

.section-chedule .table-container .table-schedule td {
  padding: 5px 10px;
}

@media screen and (max-width: 930px) {
  .section-chedule .table-container .table-schedule td {
    font-size: 16px;
  }
}

@media screen and (max-width: 665px) {
  .section-chedule .table-container .table-schedule td {
    padding: 5px;
  }
}

@media screen and (max-width: 605px) {
  .section-chedule .table-container .table-schedule td {
    font-size: 14px;
  }
}

@media screen and (max-width: 545px) {
  .section-chedule .table-container .table-schedule td {
    padding: 3px;
    font-size: 12px;
  }
}

@media screen and (max-width: 470px) {
  .section-chedule .table-container .table-schedule td {
    font-size: 10px;
  }
}

@media screen and (max-width: 930px) {
  .section-chedule .table-container .table-schedule select {
    font-size: 14px;
  }
}

@media screen and (max-width: 665px) {
  .section-chedule .table-container .table-schedule select {
    width: 115px;
    font-size: 12px;
  }
}

@media screen and (max-width: 570px) {
  .section-chedule .table-container .table-schedule select {
    width: 100px;
  }
}

@media screen and (max-width: 470px) {
  .section-chedule .table-container .table-schedule select {
    width: 85px;
    font-size: 10px;
  }
}

@media screen and (max-width: 665px) {
  .section-chedule .tariff-text {
    font-size: 16px;
  }
}

.section-chedule .tariff-text a {
  color: #beefff;
  text-decoration: none;
}

.fleet-slider {
  width: 100%;
  height: 571.42857px;
  padding: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1025px) {
  .fleet-slider {
    padding: 40px 0;
  }
}

.slider-list {
  position: relative;
  width: 800px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 571.42857px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slider-item {
  position: relative;
  width: 800px;
  height: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
}

.slider-item .slider-image {
  display: block;
  width: 700px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.slider-item.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

.btn-control {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.btn-control .icon-arrow {
  width: 60px;
}

@media screen and (max-width: 850px) {
  .btn-control .icon-arrow {
    width: 40px;
  }
}

.btn-control .icon-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (min-width: 851px) and (max-width: 1025px) {
  .fleet-slider,
  .slider-list {
    height: calc(600px / 1.4);
  }
}

@media screen and (min-width: 751px) and (max-width: 850px) {
  .fleet-slider,
  .slider-list {
    height: calc(500px / 1.4);
  }
}

@media screen and (min-width: 641px) and (max-width: 750px) {
  .fleet-slider,
  .slider-list {
    height: calc(450px / 1.4);
  }
}

@media screen and (min-width: 501px) and (max-width: 640px) {
  .fleet-slider,
  .slider-list {
    height: calc(400px / 1.4);
  }
}

@media screen and (min-width: 411px) and (max-width: 500px) {
  .fleet-slider,
  .slider-list {
    height: calc(350px / 1.4);
  }
}

@media screen and (max-width: 410px) {
  .fleet-slider,
  .slider-list {
    height: calc(300px / 1.4);
  }
}

@media screen and (min-width: 851px) and (max-width: 1025px) {
  .slider-item,
  .slider-image {
    width: 600px;
    height: calc(600px / 1.4);
  }
}

@media screen and (min-width: 751px) and (max-width: 850px) {
  .slider-item,
  .slider-image {
    width: 500px;
    height: calc(500px / 1.4);
  }
}

@media screen and (min-width: 641px) and (max-width: 750px) {
  .slider-item,
  .slider-image {
    width: 400px;
    height: calc(400px / 1.4);
  }
}

@media screen and (min-width: 501px) and (max-width: 640px) {
  .slider-item,
  .slider-image {
    width: 300px;
    height: calc(300px / 1.4);
  }
}

@media screen and (min-width: 411px) and (max-width: 500px) {
  .slider-item,
  .slider-image {
    width: 250px;
    height: calc(250px / 1.4);
  }
}

@media screen and (max-width: 410px) {
  .slider-item,
  .slider-image {
    width: 200px;
    height: calc(200px / 1.4);
  }
}

.sidebar {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 150px;
  height: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 851px) and (max-width: 1025px) {
  .sidebar {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 150px;
    width: 120px;
    height: 100px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media screen and (max-width: 850px) {
  .sidebar {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    position: relative;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

@media screen and (min-width: 851px) and (max-width: 1025px) {
  .language-block {
    bottom: auto;
    left: auto;
  }
}

@media screen and (max-width: 850px) {
  .language-block {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.language-block .language {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 666px) and (max-width: 850px) {
  .language-block .language {
    font-size: 32px;
  }
}

@media screen and (min-width: 471px) and (max-width: 665px) {
  .language-block .language {
    font-size: 26px;
  }
}

@media screen and (max-width: 470px) {
  .language-block .language {
    font-size: 24px;
  }
}

.language-block .language-rus {
  margin-right: 10px;
}

@media screen and (max-width: 850px) {
  .language-block .language-rus {
    margin-right: 30px;
  }
}

@-webkit-keyframes bgImage {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

@keyframes bgImage {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}
/*# sourceMappingURL=style.css.map */